.btn{
  position: relative;
  transition: all 0.4s ease-in;
  text-transform: uppercase;
  color: $white;
  border-radius: 0;
  border: 0;
  height: 48px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  outline: none;
  &:before {
    content: '';
    border-radius: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:hover{
    outline: none;
  }
  &:focus {
    outline: 0;
    color: #fff;
    box-shadow: none;
    &:before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
  &:active{
    outline: 0;
  }

}
.btn-primary{
  background-color: $red;
  &:before {
    background-color: rgba(255, 102, 92, 0.70);
  }
  &:hover{
    background-color: $red;
    box-shadow: 1px 1px 14px 0 $red-dark;
  }
  &:focus {
    background-color: $red;
  }
  &:active{
    background-color: $red;
  }
  @media screen and (max-width: 340px) {
    font-size: 14px;
  }
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  background-color: $red;
  outline: 0;
}

.btn-secondary{
  background-color: $blue;
  height: 40px;
  width: 82%;
  font-size: 14px;
  &:before {
    background-color: rgba(112, 185, 255, 0.7);
  }
  &:hover{
    background-color: $blue;
    box-shadow: 1px 1px 14px 0 $blue-dark;
  }
  &:focus {
    background-color: $blue;
  }
  &:active{
    background-color: $blue;
  }
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  background-color: $blue;
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
.btn-icon{
  margin-right: 8px;
  font-size: 20px;
}