.content-section{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.follow-image{
  width: 100%;
}
.arrow-container{
  position: relative;
  .arrow{
    position: absolute;
    top: 20px;
    right: 5px;
    width: 65px;
    height: 100px;
    z-index: 10;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}