.dino-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 8px 10px 8px;
  .dino-section-text{
    margin: 0;
  }
  .dino-section-image{
    @media screen and (max-height: 640px) {
      flex-shrink: 1;
      max-height: 60px;
    }
  }
}