.footer{
  padding: 10px 0 24px;
  text-align: center;
}

.follow-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 22px;
}
.follow-section__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}
.follow-section__image{
  margin-right: 22px;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
  padding: 3px;
  overflow: hidden;
  background-color: #fafafa;
  width: 77px;
  height: 77px;
  flex-grow: 0;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.follow-section__name{
  font-size: 28px;
  line-height: 32px;
  color: #262626;
  font-weight: 300;
  margin-bottom: 18px;
}
.btn-insta{
  padding: 0;
  height: 28px;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  font-weight: 400;
}