.user-header__wrap{
  position: relative;
  margin-bottom: 32px;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    background-color: $white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    z-index: 0;
  }
}
.user-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  align-items: center;
  z-index: 1;

  .user-header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 58%;
    margin-right: 15px;

    .user__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      margin-top: 4px;

      .user__info-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: $font-primary;

        .user__info-value {
          font-weight: 700;
          font-size: 18px;
          line-height: 18px;
          color: $middle-grey;
          margin-bottom: 2px;
          @media screen and (max-width: 345px) {
            font-size: 16px;
          }
        }

        .user__info-name {
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
          color: $light-grey;
          letter-spacing: 1px;
        }
      }
    }
    .user__name {
      font-size: 16px;
      @media screen and (max-width: 345px) {
        font-size: 14px;
      }
    }
  }
}

.user-header_traingle-corner{
  &.link-tree-header{
    .link-tree-header__info{
      padding-bottom: 0;
    }
  }
  &:after{
    content: '';
    position: absolute;
    display: block;
    clip-path: polygon(50% 40%, 0 0, 100% 0);
    background-color: $blue;
    height: 50px;
    width: 100%;
    bottom: -50px;
  }
  &.link-tree-header_gradient{
    padding-bottom: 54px;
    margin-bottom: -32px;
    &:after{
      background-image: inherit;
    }
  }
}

.user-header__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
  padding: 3px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  &_filled{
    background-color: $white;
  }
}