.input-primary{
  background-color: $light;
  border: 1px solid $border-color;
  height: 40px;
  padding: 0 16px;
  color: $input-color;
  width: 100%;
  margin-bottom: 26px;
  box-sizing: border-box;
  &:focus{
    border: 1px solid $blue;
  }
}

.input-primary::-webkit-input-placeholder {
  color: $input-color;
}

.input-primary::-moz-placeholder {
  color: $input-color;
}

/* Firefox 19+ */
.input-primary:-moz-placeholder {
  color: $input-color;
}

/* Firefox 18- */
.input-primary:-ms-input-placeholder {
  color: $input-color;
}

//radio
.radio-primary{
  margin-bottom: 15px;
  .custom-control-label {
    font-size: 14px;
    line-height: 16px;
    &:before{
      position: absolute;
      top: 0;
      left: -1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      pointer-events: none;
      content: "";
      background-color: #fff;
      border: none;
      box-shadow: 0 0 0 1px $border-color;
    }
    &:after{
      top: 0;
    }
  }
  .custom-control-input:checked{
    ~ .custom-control-label{
      &:before{
        color: #fff;
        border: none;
        background-color: $white;
        box-shadow: 0 0 0 1px $blue;
        top: 0;
      }
      &:after{
        background: $blue;
        border-radius: 100%;
        border: 3px solid $white;
        top: 0;
      }
    }
  }
}
.form-primary{
  padding: 36px 0;
  width: 84%;
  margin: 0 auto 28px;
  display: block;
}
