.link-tree-list{
  padding: 0 0 30px;
  position: relative;
}

.link-tree-header{
  background-color: $blue;
  position: relative;
  margin-bottom: 32px;
  .link-tree-header__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
  }
  .user__name{
    color: $white;
  }
  .link-tree-header__avatar{
    margin-bottom: 6px;
  }
}
.link-tree-header_gradient{
  background: linear-gradient(112.97deg, #E95950 9.24%, #4092CF 94.89%), #4092CF;
}

.link-tree-item{
  color: $dark-grey;
  font-family: $font-primary;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 8px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.30);
  }
  .link-tree-item__title{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 4px;
  }
  .link-tree-item__description{
    font-size: 14px;
    line-height: 16px;
  }
  .link-tree-item__image{
    margin-right: 16px;
  }
  .link-tree-item__text{
    width: 100%;
  }
  .link-tree-item__link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .link-tree-item__title_bold{
    font-weight: 600;
  }
  .link-tree-item__title_light{
    font-weight: 300;
  }
  .link-tree-item__title_lighter{
    font-weight: 100;
  }
  .link-tree-item__title_uppercase{
    text-transform: uppercase;
  }
  .link-tree-item__title_letter-spacing{
    letter-spacing: 0.08em;
  }

}

.link-tree-item_middle-height{
  padding: 16px 8px;
}

.link-tree-item_full-width{
  margin: 0 -14px;
  border-radius: 0;
  &:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: $light;
  }
  
}
.link-tree-item_without-image{
  padding: 8px 16px;
  &.link-tree-item_middle-height{
    padding: 16px 16px;
  }
  .link-tree-item__title{
    font-weight: 500;
  }
  .link-tree-item__title_large{
    font-size: 18px;
    margin-bottom: 8px;
  }
}
.link-tree-item_large-title{
  .link-tree-item__title{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
  }
  .link-tree-item__title_light{
    font-weight: 300;
  }

}
.link-tree-item_huge-title{
  .link-tree-item__title{
    font-size: 48px;
    text-align: center;
    line-height: 56px;
    margin-bottom: 0;
  }
}