.print-svg{
  position: absolute;
  top: 103px;
  right: 0;
  left: 0;
  svg{
    width: 100%;
  }
  .print-svg__elements{
    position: relative;
    width: 100%;
    *:not(.print-svg__bg){
      position: absolute;
      top: 10px;
      transform: translateY(-90%);
      opacity: 1;
      animation: print-animation 8s linear infinite normal,print-animation-fade 8s linear infinite alternate;
    }
    .print-svg__circles{
      transform: translateY(-100%);
      animation: print-animation-circles 8s linear 3s infinite normal,print-animation-fade 10s linear infinite alternate;
    }
  }
}
@keyframes print-animation {
  to{
    transform: translateY(80%);
  }
}
@keyframes print-animation-circles {
  to{
    transform: translateY(80%);
  }
}
@keyframes print-animation-fade {
  to{
    opacity: 0;
  }
}