.swipe{
  .swipe__card{

  }
}

.swipe {
  width: 100%;
  min-height: 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  @media screen and (max-height: 700px) {
    min-height: 70%;
  }
  @media screen and (max-height: 540px) {
    min-height: 60%;
  }
}

.loaded.swipe {
  opacity: 1;
}

.swipe__status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.swipe__card-image{
  min-height: 70%;
  width: auto;
  max-width: 100%;
  pointer-events: none;
}
.swipe__status-icon {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.swipe_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.swipe_nope .fa-times {
  opacity: 0.7;
  transform: scale(1);
}

.swipe__cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.swipe__card {
  width: 90%;
  max-width: 400px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  @media screen and (max-height: 700px) {
    height: 50%;
    padding-bottom: 20px;
  }
}

.moving.swipe__card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.swipe__card-title {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
  @media screen and (max-height: 700px) {
    font-size: 22px;
    margin: 10px 0;
  }
  @media screen and (max-height: 540px) {
    font-size: 22px;
    margin: 0;
  }
}

.swipe__card-description {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
  @media screen and (max-height: 700px) {
    font-size: 20px;
    margin: 10px 0;
  }
  @media screen and (max-height: 540px) {
    font-size: 18px;
    margin: 0;
  }
}

.swipe__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-top: 20px;
}

.swipe__buttons button {
  border: 0;
  background: transparent;
  padding: 20px;
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-height: 540px) {
    padding: 5px;
  }
}

.swipe__buttons button:focus {
  outline: 0;
}

.swipe__buttons-icon {
  font-size: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

.fa-heart {
  color: $red;
}

.fa-times {
  color: $light-grey;
}


//v2
.swipe__cards_v2{
  padding-top: 0;
  position: relative;
  .swipe__card{
    //position: relative;
    padding-bottom: 0;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 95%;
    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.42) 100%);
      z-index: -1;
    }
    .swipe__card-image{
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .swipe__card-title,.swipe__card-description{
      color: $white;
      margin: 0 0 10px;
    }
  }
}

