.vote-result{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 190px;
  padding: 20px 0 10px;
  @media screen and (max-height: 670px) {
    min-height: auto;
    height: auto;
    justify-content: center;
  }
  .vote-result__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-height: 670px){
      width: 25%;
    }
    .vote-result__item-image{
      @media screen and (max-height: 670px) {
        margin-bottom: 10px;
      }
    }
    .vote-result__item-percent{
      font-size: 16px;
      color: $red;
    }
  }
  .vote-result__item_top{
    margin: -12px -8px 0;
    z-index: 2;
    @media screen and (max-height: 670px) {
      width: 30%;
    }
    .vote-result__item-image{
      border: 1px solid $green;
      @media screen and (max-height: 670px) {
        margin-bottom: 25px;
      }
    }
    .vote-result__item-percent{
      color: $green;
      margin: -14px 0 0;
    }
  }
  .vote-result__item-image{
    margin-bottom: 29px;
    border: 1px solid $red;
    img{
      width: 100%;
      height: 100%;
    }
  }
}