h3 {
  font-size: 28px; }
  @media screen and (max-height: 670px) {
    h3 {
      font-size: 22px; } }

.content-text {
  color: #414141;
  font-size: 24px;
  text-align: center;
  line-height: 28px; }
  @media screen and (max-height: 670px) {
    .content-text {
      font-size: 18px;
      line-height: 22px; } }
  @media screen and (max-height: 560px) {
    .content-text {
      font-size: 18px;
      line-height: 22px; } }

.content-text_line-height {
  line-height: 38px; }
  @media screen and (max-height: 670px) {
    .content-text_line-height {
      line-height: 26px; } }
  @media screen and (max-height: 560px) {
    .content-text_line-height {
      line-height: 22px; } }

.form-title {
  line-height: 43px;
  margin-bottom: 16px; }
  @media screen and (max-height: 560px) {
    .form-title {
      line-height: 22px; } }

.text-accented {
  color: #E95950; }

.text-accented-blue {
  color: #4092CF; }

.text-accented_secondary {
  color: #5BB163; }

.text-large {
  font-size: 24px; }

.link-primary {
  color: #4092CF; }
  .link-primary:hover {
    color: #3f83bf;
    text-decoration: underline; }

.btn {
  position: relative;
  transition: all 0.4s ease-in;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 0;
  border: 0;
  height: 48px;
  font-size: 18px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  outline: none; }
  .btn:before {
    content: '';
    border-radius: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0.001, 0.001);
    -ms-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001); }
  .btn:hover {
    outline: none; }
  .btn:focus {
    outline: 0;
    color: #fff;
    box-shadow: none; }
    .btn:focus:before {
      -webkit-animation: effect_dylan 0.8s ease-out;
      animation: effect_dylan 0.8s ease-out; }
  .btn:active {
    outline: 0; }

.btn-primary {
  background-color: #E95950; }
  .btn-primary:before {
    background-color: rgba(255, 102, 92, 0.7); }
  .btn-primary:hover {
    background-color: #E95950;
    box-shadow: 1px 1px 14px 0 #d2564d; }
  .btn-primary:focus {
    background-color: #E95950; }
  .btn-primary:active {
    background-color: #E95950; }
  @media screen and (max-width: 340px) {
    .btn-primary {
      font-size: 14px; } }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #E95950;
  outline: 0; }

.btn-secondary {
  background-color: #4092CF;
  height: 40px;
  width: 82%;
  font-size: 14px; }
  .btn-secondary:before {
    background-color: rgba(112, 185, 255, 0.7); }
  .btn-secondary:hover {
    background-color: #4092CF;
    box-shadow: 1px 1px 14px 0 #3f83bf; }
  .btn-secondary:focus {
    background-color: #4092CF; }
  .btn-secondary:active {
    background-color: #4092CF; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #4092CF; }

@-webkit-keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0; }
  99% {
    -webkit-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001);
    opacity: 0; }
  100% {
    -webkit-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001);
    opacity: 1; } }

@keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0; }
  99% {
    -webkit-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001);
    opacity: 0; }
  100% {
    -webkit-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001);
    opacity: 1; } }

.btn-icon {
  margin-right: 8px;
  font-size: 20px; }

.input-primary {
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  height: 40px;
  padding: 0 16px;
  color: #555555;
  width: 100%;
  margin-bottom: 26px;
  box-sizing: border-box; }
  .input-primary:focus {
    border: 1px solid #4092CF; }

.input-primary::-webkit-input-placeholder {
  color: #555555; }

.input-primary::-moz-placeholder {
  color: #555555; }

/* Firefox 19+ */
.input-primary:-moz-placeholder {
  color: #555555; }

/* Firefox 18- */
.input-primary:-ms-input-placeholder {
  color: #555555; }

.radio-primary {
  margin-bottom: 15px; }
  .radio-primary .custom-control-label {
    font-size: 14px;
    line-height: 16px; }
    .radio-primary .custom-control-label:before {
      position: absolute;
      top: 0;
      left: -1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      pointer-events: none;
      content: "";
      background-color: #fff;
      border: none;
      box-shadow: 0 0 0 1px #DBDBDB; }
    .radio-primary .custom-control-label:after {
      top: 0; }
  .radio-primary .custom-control-input:checked ~ .custom-control-label:before {
    color: #fff;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px #4092CF;
    top: 0; }
  .radio-primary .custom-control-input:checked ~ .custom-control-label:after {
    background: #4092CF;
    border-radius: 100%;
    border: 3px solid #FFFFFF;
    top: 0; }

.form-primary {
  padding: 36px 0;
  width: 84%;
  margin: 0 auto 28px;
  display: block; }

.content-section {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.follow-image {
  width: 100%; }

.arrow-container {
  position: relative; }
  .arrow-container .arrow {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 65px;
    height: 100px;
    z-index: 10; }
    .arrow-container .arrow svg {
      width: 100%;
      height: 100%; }

.user-header__wrap {
  position: relative;
  margin-bottom: 32px; }
  .user-header__wrap:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    z-index: 0; }

.user-header {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 103px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1; }
  .user-header .user-header__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-basis: 58%;
    -ms-flex-preferred-size: 58%;
    flex-basis: 58%;
    margin-right: 15px; }
    .user-header .user-header__container .user__info {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 16px;
      margin-top: 4px; }
      .user-header .user-header__container .user__info .user__info-item {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: "Roboto", sans-serif; }
        .user-header .user-header__container .user__info .user__info-item .user__info-value {
          font-weight: 700;
          font-size: 18px;
          line-height: 18px;
          color: #555555;
          margin-bottom: 2px; }
          @media screen and (max-width: 345px) {
            .user-header .user-header__container .user__info .user__info-item .user__info-value {
              font-size: 16px; } }
        .user-header .user-header__container .user__info .user__info-item .user__info-name {
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
          color: #a5a5a5;
          letter-spacing: 1px; }
    .user-header .user-header__container .user__name {
      font-size: 16px; }
      @media screen and (max-width: 345px) {
        .user-header .user-header__container .user__name {
          font-size: 14px; } }

.user-header_traingle-corner.link-tree-header .link-tree-header__info {
  padding-bottom: 0; }

.user-header_traingle-corner:after {
  content: '';
  position: absolute;
  display: block;
  -webkit-clip-path: polygon(50% 40%, 0 0, 100% 0);
  clip-path: polygon(50% 40%, 0 0, 100% 0);
  background-color: #4092CF;
  height: 50px;
  width: 100%;
  bottom: -50px; }

.user-header_traingle-corner.link-tree-header_gradient {
  padding-bottom: 54px;
  margin-bottom: -32px; }
  .user-header_traingle-corner.link-tree-header_gradient:after {
    background-image: inherit; }

.user-header__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
  padding: 3px; }
  .user-header__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .user-header__avatar_filled {
    background-color: #FFFFFF; }

.footer {
  padding: 10px 0 24px;
  text-align: center; }

.follow-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 22px; }

.follow-section__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%; }

.follow-section__image {
  margin-right: 22px;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
  padding: 3px;
  overflow: hidden;
  background-color: #fafafa;
  width: 77px;
  height: 77px;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }
  .follow-section__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.follow-section__name {
  font-size: 28px;
  line-height: 32px;
  color: #262626;
  font-weight: 300;
  margin-bottom: 18px; }

.btn-insta {
  padding: 0;
  height: 28px;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  font-weight: 400; }

.vote-result {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 190px;
  padding: 20px 0 10px; }
  @media screen and (max-height: 670px) {
    .vote-result {
      min-height: auto;
      height: auto;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .vote-result .vote-result__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    @media screen and (max-height: 670px) {
      .vote-result .vote-result__item {
        width: 25%; } }
    @media screen and (max-height: 670px) {
      .vote-result .vote-result__item .vote-result__item-image {
        margin-bottom: 10px; } }
    .vote-result .vote-result__item .vote-result__item-percent {
      font-size: 16px;
      color: #E95950; }
  .vote-result .vote-result__item_top {
    margin: -12px -8px 0;
    z-index: 2; }
    @media screen and (max-height: 670px) {
      .vote-result .vote-result__item_top {
        width: 30%; } }
    .vote-result .vote-result__item_top .vote-result__item-image {
      border: 1px solid #5BB163; }
      @media screen and (max-height: 670px) {
        .vote-result .vote-result__item_top .vote-result__item-image {
          margin-bottom: 25px; } }
    .vote-result .vote-result__item_top .vote-result__item-percent {
      color: #5BB163;
      margin: -14px 0 0; }
  .vote-result .vote-result__item-image {
    margin-bottom: 29px;
    border: 1px solid #E95950; }
    .vote-result .vote-result__item-image img {
      width: 100%;
      height: 100%; }

.dino-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 8px 10px 8px; }
  .dino-section .dino-section-text {
    margin: 0; }
  @media screen and (max-height: 640px) {
    .dino-section .dino-section-image {
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      max-height: 60px; } }

.print-svg {
  position: absolute;
  top: 103px;
  right: 0;
  left: 0; }
  .print-svg svg {
    width: 100%; }
  .print-svg .print-svg__elements {
    position: relative;
    width: 100%; }
    .print-svg .print-svg__elements *:not(.print-svg__bg) {
      position: absolute;
      top: 10px;
      -webkit-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
      transform: translateY(-90%);
      opacity: 1;
      -webkit-animation: print-animation 8s linear infinite normal,print-animation-fade 8s linear infinite alternate;
      animation: print-animation 8s linear infinite normal,print-animation-fade 8s linear infinite alternate; }
    .print-svg .print-svg__elements .print-svg__circles {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-animation: print-animation-circles 8s linear 3s infinite normal,print-animation-fade 10s linear infinite alternate;
      animation: print-animation-circles 8s linear 3s infinite normal,print-animation-fade 10s linear infinite alternate; }

@-webkit-keyframes print-animation {
  to {
    -webkit-transform: translateY(80%);
    transform: translateY(80%); } }

@keyframes print-animation {
  to {
    -webkit-transform: translateY(80%);
    transform: translateY(80%); } }

@-webkit-keyframes print-animation-circles {
  to {
    -webkit-transform: translateY(80%);
    transform: translateY(80%); } }

@keyframes print-animation-circles {
  to {
    -webkit-transform: translateY(80%);
    transform: translateY(80%); } }

@-webkit-keyframes print-animation-fade {
  to {
    opacity: 0; } }

@keyframes print-animation-fade {
  to {
    opacity: 0; } }

.modal-primary .modal-body {
  text-align: center; }

.modal-primary .modal-footer .link-primary {
  font-size: 14px; }

.swipe {
  width: 100%;
  min-height: 70%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out; }
  @media screen and (max-height: 700px) {
    .swipe {
      min-height: 70%; } }
  @media screen and (max-height: 540px) {
    .swipe {
      min-height: 60%; } }

.loaded.swipe {
  opacity: 1; }

.swipe__status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none; }

.swipe__card-image {
  min-height: 70%;
  width: auto;
  max-width: 100%;
  pointer-events: none; }

.swipe__status-icon {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px; }

.swipe_love .fa-heart {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swipe_nope .fa-times {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swipe__cards {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 1; }

.swipe__card {
  width: 90%;
  max-width: 400px;
  height: 70%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15); }
  @media screen and (max-height: 700px) {
    .swipe__card {
      height: 50%;
      padding-bottom: 20px; } }

.moving.swipe__card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.swipe__card-title {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none; }
  @media screen and (max-height: 700px) {
    .swipe__card-title {
      font-size: 22px;
      margin: 10px 0; } }
  @media screen and (max-height: 540px) {
    .swipe__card-title {
      font-size: 22px;
      margin: 0; } }

.swipe__card-description {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none; }
  @media screen and (max-height: 700px) {
    .swipe__card-description {
      font-size: 20px;
      margin: 10px 0; } }
  @media screen and (max-height: 540px) {
    .swipe__card-description {
      font-size: 18px;
      margin: 0; } }

.swipe__buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  padding-top: 20px; }

.swipe__buttons button {
  border: 0;
  background: transparent;
  padding: 20px;
  margin: 0 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-height: 540px) {
    .swipe__buttons button {
      padding: 5px; } }

.swipe__buttons button:focus {
  outline: 0; }

.swipe__buttons-icon {
  font-size: 32px;
  vertical-align: middle;
  margin-right: 10px; }

.fa-heart {
  color: #E95950; }

.fa-times {
  color: #a5a5a5; }

.swipe__cards_v2 {
  padding-top: 0;
  position: relative; }
  .swipe__cards_v2 .swipe__card {
    padding-bottom: 0;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
    width: 95%; }
    .swipe__cards_v2 .swipe__card:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.42) 100%);
      z-index: -1; }
    .swipe__cards_v2 .swipe__card .swipe__card-image {
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
    .swipe__cards_v2 .swipe__card .swipe__card-title, .swipe__cards_v2 .swipe__card .swipe__card-description {
      color: #FFFFFF;
      margin: 0 0 10px; }

.link-tree-list {
  padding: 0 0 30px;
  position: relative; }

.link-tree-header {
  background-color: #4092CF;
  position: relative;
  margin-bottom: 32px; }
  .link-tree-header .link-tree-header__info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding: 10px; }
  .link-tree-header .user__name {
    color: #FFFFFF; }
  .link-tree-header .link-tree-header__avatar {
    margin-bottom: 6px; }

.link-tree-header_gradient {
  background: linear-gradient(112.97deg, #E95950 9.24%, #4092CF 94.89%), #4092CF; }

.link-tree-item {
  color: #414141;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9px 8px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
  position: relative;
  cursor: pointer; }
  .link-tree-item:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3); }
  .link-tree-item .link-tree-item__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 4px; }
  .link-tree-item .link-tree-item__description {
    font-size: 14px;
    line-height: 16px; }
  .link-tree-item .link-tree-item__image {
    margin-right: 16px; }
  .link-tree-item .link-tree-item__text {
    width: 100%; }
  .link-tree-item .link-tree-item__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .link-tree-item .link-tree-item__title_bold {
    font-weight: 600; }
  .link-tree-item .link-tree-item__title_light {
    font-weight: 300; }
  .link-tree-item .link-tree-item__title_lighter {
    font-weight: 100; }
  .link-tree-item .link-tree-item__title_uppercase {
    text-transform: uppercase; }
  .link-tree-item .link-tree-item__title_letter-spacing {
    letter-spacing: 0.08em; }

.link-tree-item_middle-height {
  padding: 16px 8px; }

.link-tree-item_full-width {
  margin: 0 -14px;
  border-radius: 0; }
  .link-tree-item_full-width:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: #FAFAFA; }

.link-tree-item_without-image {
  padding: 8px 16px; }
  .link-tree-item_without-image.link-tree-item_middle-height {
    padding: 16px 16px; }
  .link-tree-item_without-image .link-tree-item__title {
    font-weight: 500; }
  .link-tree-item_without-image .link-tree-item__title_large {
    font-size: 18px;
    margin-bottom: 8px; }

.link-tree-item_large-title .link-tree-item__title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 400; }

.link-tree-item_large-title .link-tree-item__title_light {
  font-weight: 300; }

.link-tree-item_huge-title .link-tree-item__title {
  font-size: 48px;
  text-align: center;
  line-height: 56px;
  margin-bottom: 0; }

html, body {
  min-height: 100vh;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  height: 100%; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

.container {
  max-width: 500px;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden; }

.content-container {
  background: linear-gradient(to right, rgba(221, 221, 221, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(219, 219, 219, 0.2) 100%);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
  position: relative; }
