@import "variables";
@import "typography";
@import "components/button";
@import "components/input";
@import "components/content";
@import "components/header";
@import "components/footer";
@import "components/vote-result";
@import "components/dino-section";
@import "components/print-svg";
@import "components/modal";
@import "components/swipe";
@import "components/link-tree-list";

html,body{
  min-height: 100vh;
  //display: flex;
  flex-basis: 100%;
  height: 100%;
  //flex-direction: row;
  //justify-content: center;
}
body {
  margin: 0;
  font-family: $font-primary;
}
.container{
  max-width: 500px;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
}
.content-container{
  background: $bg-gradient;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  position: relative;
}

