h3{
  font-size: 28px;
  @media screen and (max-height: 670px) {
    font-size: 22px;
  }

}
.content-text{
  color: $text-color;
  font-size: $text-size;
  text-align: center;
  line-height: 28px;
  @media screen and (max-height: 670px) {
    font-size: $text-size-xs;
    line-height: 22px;
  }
  @media screen and (max-height: 560px) {
    font-size: $text-size-xs;
    line-height: 22px;
  }
}
.content-text_line-height{
  line-height: 38px;
  @media screen and (max-height: 670px) {
    line-height: 26px;
  }
  @media screen and (max-height: 560px) {
    line-height: 22px;
  }
}
.form-title{
  line-height: 43px;
  margin-bottom: 16px;
  //margin-bottom: 76px;
  @media screen and (max-height: 560px) {
    line-height: 22px;
  }
}
.text-accented{
  color: $red;
}
.text-accented-blue{
  color: $blue;
}
.text-accented_secondary{
  color: $green;
}
.text-large{
  font-size: 24px;
}
.link-primary{
  color: $blue;
  &:hover{
    color: $blue-dark;
    text-decoration: underline;
  }
}
