//colors
$dark-grey: #414141;
$middle-grey: #555555;
$light-grey: #a5a5a5;
$light: #FAFAFA;
$white: #FFFFFF;
$red: #E95950;
$blue: #4092CF;
$green: #5BB163;
$bg-gradient: linear-gradient(to right, rgba(221,221,221,0.2) 0%,rgba(255,255,255,0.2) 50%,rgba(219,219,219,0.2) 100%);
$border-color: #DBDBDB;
$input-color: $middle-grey;
//dark colors
$red-dark: #d2564d;
$blue-dark: #3f83bf;
//texts
$text-color: $dark-grey;
$text-size: 24px;
$text-size-sm: 20px;
$text-size-xs: 18px;

//fonts
$font-primary:'Roboto',sans-serif;